# Data for fairness assessment
Get the columns of data we want to assess
Save for each imputation set

              inc_age = age
              sex
              dialtyp=type of dialysis
              race

In [9]:
import psycopg2
from sqlalchemy import create_engine

# other libraries
import numpy as np
import pandas as pd
import sys
import pickle

print('python-' + sys.version)

python-3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]

In [10]:
con = create_engine('postgresql://username:upassword@dbconnection/dbname')

In [11]:
#import only the columns we want to look at in this assessment
df = pd.read_sql_query('''SELECT   usrds_id, died_in_90, inc_age, sex, dialtyp, race, hispanic, subset FROM medxpreesrd;''', con)
df.head()

    usrds_id  died_in_90  inc_age  sex  dialtyp  race  hispanic  subset
0  2969676.0         0.0     72.0  2.0      1.0   2.0       2.0       8
1  2969869.0         1.0     73.0  2.0      1.0   2.0       2.0       9
2  2970021.0         0.0     55.0  2.0      1.0   1.0       1.0       8
3  2970067.0         0.0     72.0  1.0      1.0   1.0       2.0       9
4  2970686.0         0.0     49.0  2.0      1.0   2.0       2.0       8

In [12]:
#save
df.loc[:,'died_in_90']=df.loc[:,'died_in_90'].astype(int)

with open('../complete_fairness_data.pickle', 'wb') as picklefile:  
    pickle.dump(df, picklefile)